
:root {
	--color-primary: #7380ec;
	--color-danger: #ff7782;
	--color-success: #41f1b6;
	--color-warning: #ffbb55;
	--color-white: #fff;
	--color-info-dark: #7d8da1;
	--color-info-light: #dce1eb;
	--color-dark: #363949;
	--color-light: rgba(132, 139, 200, 0.2);
	--color-primary-variant: #111e88;
	--color-dark-variant: #677483;
	--color-background: #f6f6f9;
	--color-button-gradient: linear-gradient(to right, rgba(0, 149, 217, 0.7), rgba(0, 190, 228, 0.5));
	--color-button-gradient-hover: linear-gradient(to left, rgba(0, 149, 217, 0.7), rgba(0, 190, 228, 0.5));
	--color-header-h1: #05B2E9;

	--color-overlay: rgba(30,41,51,.45);

	--border: 1px solid var(--color-info-light);
	--card-border-radius: 1.5rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow-reduced: 0 0.5rem 1rem var(--color-dark);
	--box-shadow: 0 2rem 3rem var(--color-light);
}

.container{
	width: 20%;
	position: absolute;
	background-color: var(--color-background);
}


a {
	color: var(--color-dark);
}
h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 0.87rem;
}

h4 {
	font-size: 0.87rem;
}
h5 {
	font-size: 0.77rem;
}
small {
	font-size: 0.75rem;
}

.text-muted {
	color: var(--color-info-dark);
}

p {
	color: var(--color-dark-variant);
	font-size: 0.8rem;
}

b {
	color: var(--color-dark);
}
.sidebar a.active {
	background-color: #33BDFE;
	color: white; /* Optionally change the text color for active NavLink */
}
  
.logout{
	margin-bottom: 12rem;
}
.sidebar a{
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.sidebar a span {
	
	transition: all 300ms ease;
}
.sidebar a:hover h3, .sidebar a:hover span {
	color: var(--color-white);
}

.sidebar a:hover span {
	margin-left: 1rem;
}
/*  */
.sidebar a:hover {
	background-color: #33BDFE; /* Change the background color on hover */
	color: var(--color-white); /* Change the text color on hover */
}
.btn-red{
	background-color: var(--color-danger);
	color: var(--color-white);
}